@use 'variables';
@use 'hero';

@font-face {
  font-family: Avenir;
  src: url('../../assets/fonts/Avenir-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url('../../assets/fonts/Avenir-Bold.woff2');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$backgroundColor;
  font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  color: variables.$defaultTextColor;
  line-height: $fontSize + 10px;
}

@mixin title($fontSize: 28px) {
  @include text($fontSize);
  color: variables.$secondaryTextColor;
}

.text {
  @include text;
}

.text--big {
  @include text(18px);
}

.text--small {
  @include text(12px);
}

.title {
  @include title;
}

.title--big {
  @include title(44px);
}

.title--small {
  @include title(28px);
}

.link-text {
  @include text(18px);
  color: variables.$secondaryTextColor;
  text-decoration: underline;
}